.form-container {
  margin: 2rem 5rem 1rem;
  border-top: 1px solid #fff;
  padding-top: 1rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form input {
  padding: 10px;
  border-radius: 6px;
  width: 160%;
}

.category {
  padding: 8px;
  border-radius: 6px;
}
